.menu{
    background-color:#555555;
    text-align: center;
    width: 5vw;
    height: inherit;
    flex:1.5;

    cursor: pointer;
    
    ul{
        a{
            text-decoration: none;
            color: #212123;;
            display: inline-block;     
            position: relative;    
            z-index: 1;     
            padding: 2em;     
            margin: -2em; 
        }

        li{
            padding-top:2vh;
            padding-bottom:2vh;
            border-bottom: thin solid black;            
        }

        li:hover{
            i {
                color: rgb(192, 192, 192);       
            }
          
            background-color: rgb(95, 94, 93);
            box-shadow: 10px 5px 5px black;
            transition-timing-function: ease-in;
            transition: 0.4s;
        }

        li:active{
            transition: none;
            -webkit-box-shadow: inset 0px 0px 5px black;
            -moz-box-shadow: inset 0px 0px 5px black;
            box-shadow: inset 0px 0px 5px black;      
        }
    }
}
.menu:hover{
    background-color:rgb(75, 74, 74);  
}