.listContainer{
    margin-left: 10px;
    margin-top: 10px;
    overflow-x: hidden;
    
    .list{
        flex:3;
        margin-left: 10px;
    
        width: 100%;
        
        background-color: rgb(192, 192, 192);
    
        min-width: 300px;
        width: 15vw;       
    }
    
    .search{
        background-repeat: no-repeat;
        font-size: 20px;
        padding: 5px;
        border: none;
        background-color: rgb(192, 192, 192);
        margin-bottom: 5px;
        color: rgb(228, 226, 226);;
    }

    .search:hover{
        color: black;
    }   
}
