.header {
    color: white;
    text-align: center;
    height: 7vh;
    min-height: 53px;
    background-color: #212123;
    width: 100%;
    min-width: 648px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.9);

    text-align: center;
}